/* Pinkpantheress Fan Site */
/* Author: Giovanni Aubin */

/* Reset Styles */
h1, h2, h3, p, div, a{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;   
}


/*Global Styles*/
header{
    text-align: center;
}

/* navbar styling */
a,a:active, a:link, a:visited{ 
    color:rgb(9, 97, 173);
    font-family:'cursive';
    font-size: 1.6em;
    font-weight: bold;
}

 nav.primary p{
    /* makes the navbar horizontal!!! */
    display: inline-block; 
    margin-left: 1em;
}

a:hover{
    color:rgb(8, 0, 255);
}

nav.primary {
    text-align: center;
    border-bottom: 2px solid rgb(255, 255, 255);
}

/* Main Content*/
header h1 {
    font-family:'cursive';
    border-bottom: 2px solid rgb(255, 255, 255);
    color: aliceblue;
}



html{
    background-color: rgb(2, 10, 84);
}
